# To debug bazel options, uncomment next line.
# common --announce_rc

common --consistent_labels
common --enable_bzlmod
common --noincompatible_enable_cc_toolchain_resolution

# Define the Apple OS
common --apple_platform_type=macos

# Allow platform specific control and add the missing 'CoreFoundation' lib.
common --enable_platform_specific_config
common:macos --features=-supports_dynamic_linker --linkopt=-framework --linkopt=CoreFoundation --host_linkopt=-framework --host_linkopt=CoreFoundation
# --linkopt=-Wl,-undefined,error

# Define absl=1 to tell googletest to use absl for backtrace.
common --define absl=1

common --cxxopt=-std=c++20 --host_cxxopt=-std=c++20 --cxxopt=-Werror
test --test_output=errors

common --copt=-fdiagnostics-color=always

# Custom --config=asan mode:
common:asan --copt -fsanitize=address,undefined
common:asan --linkopt -fsanitize=address,undefined
common:asan --copt -fno-sanitize=vptr
common:asan --linkopt -fno-sanitize=vptr
common:asan --linkopt -ldl
common:asan --define tcmalloc=disabled
common:asan --define signal_trace=disabled
common:asan --build_tag_filters=-no_san  # skip san targets
common:asan --test_tag_filters=-no_san  # skip san targets
common:asan --define san=true  # skip san targets
common:asan --features=asan  # https://github.com/bazelbuild/bazel/issues/6932

common:clang --incompatible_enable_cc_toolchain_resolution
common:clang --//mbo/mope:clang_format=
common:clang --cxxopt=-gmlt
common:clang --host_cxxopt=-gmlt
common:clang --linkopt=-fuse-ld=lld
common:clang --host_linkopt=-fuse-ld=lld

common:github_ci_macos --repository_cache=~/.cache/bazel/repo-cache/ --output_user_root=~/.cache/bazel
