# To debug bazel options, uncomment next line.
# build --announce_rc

# Define the Apple OS
build --apple_platform_type=macos

# Allow platform specific control and add the missing 'CoreFoundation' lib.
build --enable_platform_specific_config
build:macos --features=-supports_dynamic_linker --linkopt=-framework --linkopt=CoreFoundation --host_linkopt=-framework --host_linkopt=CoreFoundation --linkopt=-Wl,-undefined,error

# Define absl=1 to tell googletest to use absl for backtrace.
build --define absl=1

build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20 --cxxopt=-Werror
test --test_output=errors

build --copt=-fdiagnostics-color=always

# Custom --config=asan mode:
build:asan --copt -fsanitize=address,undefined
build:asan --linkopt -fsanitize=address,undefined
build:asan --copt -fno-sanitize=vptr
build:asan --linkopt -fno-sanitize=vptr
build:asan --linkopt -ldl
build:asan --define tcmalloc=disabled
build:asan --define signal_trace=disabled
build:asan --build_tag_filters=-no_san  # skip san targets
build:asan --test_tag_filters=-no_san  # skip san targets
build:asan --define san=true  # skip san targets
build:asan --features=asan  # https://github.com/bazelbuild/bazel/issues/6932
